html, body {
    background-color: #959DFF;
    font-family: 'Montserrat', sans-serif;
    align-content: center;
    color: #40468C;
    height: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 500%;
    width: max-content;

}
h2 {
    font-size: 300%;
}
p {
    font-size: 200%;

}
div {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#square {
    
background: #FF959D;
border-radius: 10px;
width: 700px;
height: 600px;
box-shadow: 10px 20px;
}

input {
    text-align: center;
    width: 340px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #40468C;
    color: #40468C;
    border-radius: 10px;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;

}

button {
    height: 80px;
    width: 160px;
    border-radius: 10px;
    border: 2px solid #40468C;
    background-color:transparent;
    color: #40468C;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
}

button:focus {outline:0;}
input:focus {outline:0;}
